*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.top-offer{
  background:#c48b47;   
  color:rgb(0, 0, 0);
  text-align:center;
  padding:8px 0;
  font-size:14px;
  font-weight:500;
}
.navbar{
width:100%;
padding:15px 5%;
display:flex;
justify-content:space-between;
align-items:center;
box-sizing:border-box;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:30px;
}

.nav-container{
  display:flex;
  align-items:center;
}

.logo{
  color:rgb(150, 123, 6);
  font-size:22px;
  font-weight:bold;
  letter-spacing:2px;
}
.nav-links{
  margin-left:80px;   
  display:flex;
  gap:35px;
}

.nav-links a{
  text-decoration:none;
  color:rgb(0, 0, 0);    
  font-size:15px;
  font-weight:500;
  transition:0.3s;
}

.nav-links a:hover{
  color:#c48b47;
}

.book-btn{
  margin-left:300px;   
  background:#c48b47;
  color:rgb(114, 94, 3);
  border:none;
  padding:10px 20px;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
  transition:0.3s;
}

.book-btn:hover{
  background:#a96f34;
}

body{
    background:#ffffff;
    color:#111;
    transition:0.3s;
}

body.dark-mode{
    background:#121212;
    color:#ffffff;
}

.dark-mode{
    background:#111;
    color:white;
}

.dark-mode .navbar{
    background:#111;
}

.dark-mode a{
    color:white;
}

#theme-toggle{
    border:none;
    background:none;
    font-size:22px;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-left:20px;
}

.men-facial-section{
width:90%;
max-width:1200px;
margin:auto;
padding:70px 0;
text-align:center;
}

.section-title{
font-size:36px;
margin-bottom:10px;
}

.section-subtitle{
max-width:700px;
margin:auto;
color:#555;
margin-bottom:50px;
}

/* CONTAINER */

.men-facial-container{
display:flex;
flex-direction:column;
gap:40px;
}

/* BOX */

.men-facial-box{
display:flex;
align-items:center;
gap:40px;
background:#fff;
padding:20px;
border-radius:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.4s;
}

/* REVERSE */

.men-facial-box.reverse{
flex-direction:row-reverse;
}

/* IMAGE */

.facial-img img{
width:350px;
height:220px;
object-fit:cover;
border-radius:10px;
transition:0.4s;
}

/* TEXT */

.facial-text{
flex:1;
text-align:left;
color: #000;
}

.facial-text h2{
margin-bottom:10px;
color: #2c0606;
}

.facial-text p{
color:#666;
line-height:1.6;
}

/* HOVER */

.men-facial-box:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.men-facial-box:hover img{
transform:scale(1.05);
}

/* RESPONSIVE */

@media(max-width:768px){

.men-facial-box{
flex-direction:column;
text-align:center;
}

.men-facial-box.reverse{
flex-direction:column;
}

.facial-img img{
width:100%;
height:220px;
}

.facial-text{
text-align:center;
}

}

